* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 32px;
}

body {
 background: #f8f8f8;
 margin: 0;
 font-family: 'Raleway', sans-serif;
 -webkit-font-smoothing: antialiased;
  color:#212121;
  font-size: 30px;
  line-height: 32px;

}

span {
    font-size: 50px;
    line-height: 32px;
}

.answer {
line-height: 32px;
}

.form {
  width: 95%;
  max-width: 978px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  padding: 100px 40px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  line-height: 32px;
}

.form__label {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 90%
  line-height: 32px;

}

.form__input {
  padding: 10px;
  margin: 50px 0px;
  font-size: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form__input:focus {
  outline: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.form__button {
  padding: 20px 20px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  background-color: #0077ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form__button:hover {
  background-color: #0066cc;
}

@media only screen and (max-width: 768px) {
  /* Increase the font size to 16px */
  .form {
    font-size: 40px;
    color: red;
    background: red;
  }
  .form__button {
  background: red !important}
}