body{
 background: #efeff3;
 margin: 0;
 font-family: 'Raleway', sans-serif;
 -webkit-font-smoothing: antialiased;
  color:#212121;
}
.wrapper{
  position: relative;
  clear:both;
  margin: 0 auto 75px auto;
  width: 100%;
  overflow: hidden;
}
.top{
  background: #4e89ae;
  height: 180px;
  border-top: 20px solid #43658b;
}

.top .title {
  width: 700px;
  margin: 38px auto 0 auto; 
}

.title h1 {
  font-size:24px;
  color:#FFF;
  font-weight:500;
}

.content{
    margin: -80px auto 100px;
  padding-bottom: 20px;
}

.card{
  position: relative;
  background: #fff;
  padding:50px;
  width: 600px;
  margin: 20px auto 0 auto;
  box-shadow: 0 2px 4px rgba(100,100,100,.1);
}

.card h2 {
  font-size:21px;
  font-weight:500;
}

.card h2 a {
  color:#CC0000;
  text-decoration:none;
}

.card .text {
  color:#212121;
  margin-top:20px;
  font-size:15px;
  line-height:22px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #43658b;
  color: white;
  text-align: center;
}

### Chat ###

/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
}

/* Form styles */



.form {
  width: 80%;
  max-width: 678px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.form__label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.form__input {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form__input:focus {
  outline: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.form__button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #0077ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form__button:hover {
  background-color: #0066cc;
}

@media only screen and (max-width: 768px) {
  /* Increase the font size to 16px */
  .form,
  .form__input,
  .form__button,
  .form__label {
    font-size: 40px;
    color: red;
    background: red;
  }
  .form__button {
  background: red !important}
}