body {
  background-image: url("../shop3.png");
  /* The image used */
  background-color: #4C4C4B;
  /* Used if the image is unavailable */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  font-family: 'Poppins, sans-serif';
}

.header {
  padding-top: 100px;
  text-align: center;
  color: white;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid {
  padding: 72px 10%;

}

.product-div {
  background: rgb(59, 59, 59, 0.88);
  padding: 20px;
  border-radius: 8px 0 0 8px;
}

.form-div {
  display: flex;
  flex-direction: column;
}

.form-div button {
  margin-top: 12px;
}

.prompt-details {
  margin-top: 6px;
  background: rgba(255, 255, 255, 0.9) color: #ECECEC;
}

.prompt-details::placeholder {
  color: #C3C3C3;
}

.form-div input:focus {
  outline: none !important;
  border-color: #fff;
}

.logo {
  width: 125px;
  opacity: 0.9;
  justify-self: center;
  margin: 20px 0;
}

.meta {
  font-size: 28px;
  margin-top: 24px;
}

.meta-div {
  background: #7C7C7C;
  padding: 12px;
}

.meta span {
  margin-top: 24px;
  padding: 12px;
}

.meta-span {
  font-size: 16px
}

.meta-btn {
  position: relative;
  margin-bottom: 24px;
  margin-top: 12px;
}

.meta-btn:active {
  brightness: 1.1;
}


.description-div {
  position: relative;
  padding:
    40px;
  border-radius: 0 8px 8px 0;
}


.copy-btn {
  position: relative;
  margin-bottom: 24px;
}

.copy-btn:active {
  brightness: 1.1;
}
