<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Duna AI Product Description</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">

  </head>

  <body>
    <section id="prime-section">
      <h1 class="header">AI Product Description</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 product-div">
            <form class="form" action="/response" method="post">
              <div class="form-div">
                <img src="static/logo.png" class="logo">
                <input type="text" name="prompt" class="input-group" placeholder="Numele produsului">
                <button type="submit" class="btn btn-dark btn-lg btn-block form__button">Crează descrierea
                </button>
              </div>
            </form>
            <div class="meta" style="color:white;">
              Meta description:<div class="meta-div">
                <span class="meta-span">{{meta}}</span>
              </div>
            </div>
            <button class="btn btn-dark meta-btn"><i class="fa fa-clone" style="color: white; margin-right: 6px;"></i>Copy
            </button>
          </div>
          <div class="col-md-9 description-div" style="background-color:rgb(220, 220, 220, 0.9); position: relative;">
            <button class="btn btn-dark copy-btn"><i class="fa fa-clone" style="color: white; margin-right: 6px;"></i>Copy
            </button>
            <div id="text">
              <div style="text-align:left;">
                <h3>Despre produsul {{prompt}}:</h3>
                <p>{{ answer }}</p>
                <div style="text-align:left;">
                  <h3>Calitate GARANTATĂ:</h3>
                  <p>* Primiți eticheta de certificare a produsului pentru fiecare articol cumpărat.
                    * Returnare fără cost! Ne mândrim cu faptul că oferim clienților noștri posibilitatea de
                    a
                    returna produsele fără cost dacă acestea nu sunt satisfăcătoare. Pentru mai multe
                    detalii
                    accesați https://dunashop.ro/refund_returns/
                  </p>
                  <div style="text-align:left;">
                    <h3>Magazinul online:</h3>
                    <p>Outlet-ul Duna oferă o varietate de produse de marcă, de la haine și încălțăminte la
                      accesorii. Aici veți găsi opțiuni pentru toți membrii familiei, indiferent de vârstă
                      sau
                      gen. Avem haine și accesorii pentru bărbați, femei și copii. Toate acestea la
                      prețuri
                      accesibile. Produsele noastre sunt o alegere excelentă pentru cei care doresc să își
                      completeze garderoba cu articole de calitate. Avem atât cele mai recente tendințe
                      cât și
                      modele clasice. Toate acestea pot fi găsite la prețuri accesibile. Nu pierdeti
                      ocazia de
                      a
                      vă îmbrăca cu stil la prețuri accesibile!
                    </p>
                    <div style="text-align:left;">
                      <h3>Magazinul fizic:</h3>
                      <p>Magazinul fizic al nostru se află lângă Penny din Sfântu Gheorghe. Vă invităm să
                        ne
                        vizitați
                        pentru a vedea produsele noastre de calitate de la branduri renumite.
                        Beneficiați de
                        o
                        reducere de 10% la toate produsele din magazin. Veniți să vedeți și să
                        economisiți
                        în
                        același timp. Avem o varietate de produse, de la haine și încălțăminte la
                        accesorii,
                        pentru
                        toți membrii familiei. Nu ezitați să ne vizitați, veți fi impresionați de cât de
                        mult puteți
                        economisi și în același timp să vă bucurați de produse de calitate de la
                        branduri
                        renumite.
                      </p>
                      <div style="text-align:left;">
                        <h3>Pagina noastră de Facebook:</h3>
                        <p>Doriți să fiți la curent cu cele mai recente oferte și promoții exclusiv
                          online,
                          precum și
                          să aveți șansa de a câștiga reduceri substanțiale prin participarea la
                          concursurile noastre?
                          Nu pierdeți oportunitatea de a vă alătura comunității noastre și de a rămâne
                          conectat cu
                          ultimele noastre inițiative și oferte speciale, accesând pagina noastră de
                          Facebook:
                          https://www.facebook.com/DunaMTB/
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    </section>
  </body>
  <footer>
    <p style="text-align:center;">Made with ♥️ in Iași.</p>
  </footer>

</html>
<!--Boostrap -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>

<script>
  const copyButton = document.querySelector('.copy-btn');
  const copyContent = document.getElementById('text');

  copyButton.addEventListener('click', () => {
    const range = document.createRange();
    range.selectNode(copyContent);
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(range);
    document.execCommand("copy");
    copyButton.classList.add("active");
    window.getSelection().removeAllRanges();
    setTimeout(function() {
      copyText.classList.remove("active");
    }, 2500);
  });

</script>

<script>
  const metaButton = document.querySelector('.meta-btn');
  const metaSpan = document.querySelector('.meta-span');

  metaButton.addEventListener('click', () => {
    const meta_range = document.createRange();
    meta_range.selectNode(metaSpan);
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(meta_range);
    document.execCommand("copy");
    window.getSelection().removeAllRanges();
  });

</script>
