<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<h1 style="padding-top:100px; text-align:center;">🇮🇹 Învață italiana! 🇮🇹</h1>
<form class="form" action="/andrea" method="post">
    <span style="opacity:0.6;margin-bottom:24px; font-weight:light">Textul tău: {{prompt}}</span>
<div>
    <input type="text" name="prompt" class="form__input" placeholder="Scrie-ți textul:">
    <button type="submit" class="form__button">Submit</button>
</div>
<div style="margin-top:40px;">{{ answer }}</div>
</form>
</body>
<footer>
    <p>Made with ♥️ in London.</p>
</footer>
</html>